# Desenvolvimento LOCAL (fora do Docker) — Postgres exposto na porta do host
DATABASE_URL=postgresql+psycopg://edusaas:edusaas@localhost:5434/edusaas
APP_ENV=development
CORS_ORIGINS=http://localhost:3001
JWT_SECRET=5b65f57b4dac6ebbcd6705d7c50d2b33111e99f041d925713f03f12f47b11f28
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
PUBLIC_BASE_URL=http://localhost:8000
